snowflake-connector-python
pandas
xgboost
joblib
snowflake-snowpark-python
snowflake-connector-python[pandas]
scikit-learn
dbt-core==1.5.0
dbt-snowflake
MarkupSafe==2.0.1
jinja2
prophet
streamlit
openai
plotly
sqlfluff==2.1.0
sqlfluff-templater-dbt==2.1.0